<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yks.simpledemo3">

    <uses-permission android:name="android.permission.INTERNET"/><!--网络-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!--读取SD卡文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><!--写入文件-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/><!--接收短信-->
    <uses-permission android:name="android.permission.VIBRATE" /><!--震动-->
    <!--GPS定位权限和获取粗略位置的权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" /><!--蓝牙-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.location.gps"/>
    <uses-feature android:name="android.hardwarebluetooth_le"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:name=".activity.MyApplication"
        android:icon="@drawable/ic_appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:label="登录"/>
        <activity android:name=".activity.MainActivity"
            android:label="主页"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ChannelSortActivity"
            android:label="@string/channel_sort"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.DrawableActivity"
            android:label="@string/drawable_layout"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AppBayLayoutActivity"
            android:label="@string/ai_top"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SafeKeyBoardActivity"
            android:label="@string/safe_keyboard"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MessageVerificationActivity"
            android:label="@string/message_verification"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.XiaomiStepClockActivity"
            android:label="@string/ic_clock"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.DialogFragmentActivity"
            android:label="@string/dialog_fragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WindWillActivity"
            android:label="@string/ic_windwill"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SuperButtonActivity"
            android:label="@string/ic_super_button"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WaterPictureActivity"
            android:label="@string/ic_water_picture"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.TimingTaskActivity"
            android:label="@string/ic_timing_tasks"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ExportCSVActivity"
            android:label="@string/ic_csv_table"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".activity.TemperatureActivity"
            android:label="@string/ic_temperature"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CircleMenuActivity"
            android:label="@string/ic_circle_menu"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RadarViewActivity"
            android:label="@string/ic_radar"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MarqueeActivity"
            android:label="@string/ic_marquee"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".activity.CustomClockActivity"
            android:label="@string/ic_custom_clock"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ScrollUnLockActivity"
            android:label="@string/ic_scroll_unlock"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.XPopActivity"
            android:label="@string/ic_xpop"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ScrollCheckActivity"
            android:label="@string/ic_scroll_check"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SearchInTimeActivity"
            android:label="@string/ic_search_intime"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.NumberRainActivity"
            android:label="@string/ic_number_rain"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RunNumberActivity"
            android:label="@string/ic_run_number"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BottomSheetActivity"
            android:label="@string/ic_bottom_sheet"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CompassClockActivity"
            android:label="@string/ic_compass_clock"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CustomRulerActivity"
            android:label="@string/ic_custom_ruler"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CityLocationActivity"
            android:label="@string/ic_city_location"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BluetoothActivity"
            android:label="@string/ic_bluetooth"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BluetoothReceivedFileListActivity"
            android:label="已接收文件列表"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MusicLrcActivity"
            android:label="@string/ic_music_lrc"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MovieSeatActivity"
            android:label="@string/ic_movie_seat"
            android:screenOrientation="portrait"/>
    </application>

</manifest>